<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.san.platform.statistics.mapper.StatisticsMapper">
    <select id="queryEnter" resultType="int">
   SELECT
	count(*)
FROM
	tbl_visit v
WHERE
	to_days( v.visitTime ) = to_days( now( ) )
    </select>

    <select id="queryLeave" resultType="int">
     SELECT
	count(*)
        FROM
	tbl_visit v
        WHERE
	to_days( v.leaveTime ) = to_days( now( ) )
    </select>

</mapper>